node_modules/
.idea
*.jar
*.pyc
*.swp
*.mp3
*.pkl
*.xls
*.xml
*.csv
*.pkl
*.jpg
*.png
*.flv
*.flv.download
*.gif
*.download
*.zip
*.xlsx
*.log
*.mp4
*.srt
.qiniu_pythonsdk_hostscache.json
~$d.xlsx
d.xlsx
request_header
header_toolkit.txt
__pycache__/
wikizhword.text
Download/
Download_IMG/
cookies
httpcache
full_name.dat
.ipynb_checkpoints/
spider/headers.txt
.vscode/settings.json
autojs/.vscode/launch.json
.vscode/
db.sqlite3